/* this is intended for use with the no-js captcha */
.fbc {
    background: #222 !important;
    border: 1px solid #3e3e3e !important;
    border-radius: 3px;
    height: 421px;
    width: 300px;
    color: #a4a4a4 !important;
}
.fbc-header {
    height: 38px;
    margin: 0px;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
.fbc-imageselect-message-without-candidate-image {
    font-family: Roboto,helvetica,arial,sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 20px;
    margin-top: -40px;
    margin-left: 0px;
    word-wrap: break-word
}
.fbc-logo {
    display: none !important;
}
.fbc-privacy {
    display: none;
}
.fbc-why-fallback {
    display: none;
}
.fbc-button {
    display: none;
}
.fbc-button-verify input {
    background: #3e3e3e;
    border: 0;
    border-radius: 0px;
    color: #a4a4a4;
    cursor: pointer;
    font-family: helvetica,arial,sans-serif;
    font-size: 24px;
    font-weight: 500;
    height: 70px;
    margin-top: 2px;
    min-width: 74px;
    padding: 0px 10px 0px 10px;
    text-align: center;
    width: 280px;
}
.fbc-payload-imageselect {
    position: relative;
    display: inline-block;
    margin-left: 10px;
}

/* check boxes */
.fbc-imageselect-checkbox-1 {
    position: absolute;
    margin-top: 40px;
    margin-left: 38px;
    -webkit-transform: scale(6);
    -moz-transform: scale(6);
    -ms-transform: scale(6);
    -o-transform: scale(6);
    transform: scale(6);
    opacity: 0;
}

.fbc-imageselect-checkbox-1:checked {
    position: absolute;
    margin-top: 48px;
    margin-left: 46px;
    -webkit-transform: scale(6);
    -moz-transform: scale(6);
    -ms-transform: scale(6);
    -o-transform: scale(6);
    transform: scale(6);
    opacity: .8;
   -webkit-appearance: none;
   -moz-appearance: none;
   -o-appearance: none;
   appearance:none;
   outline: 8px solid #222;
   box-shadow: none;
   font-size: 2em;
}

.fbc-imageselect-checkbox-2 {
    position: absolute;
    margin-top: 45px;
    margin-left: 140px;
    -webkit-transform: scale(6);
    -moz-transform: scale(6);
    -ms-transform: scale(6);
    -o-transform: scale(6);
    transform: scale(6);
    opacity: 0;
}

.fbc-imageselect-checkbox-2:checked {
    position: absolute;
    margin-top: 45px;
    margin-left: 140px;
    -webkit-transform: scale(6);
    -moz-transform: scale(6);
    -ms-transform: scale(6);
    -o-transform: scale(6);
    transform: scale(6);
    opacity: .8;
    -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance:none;
  outline: 8px solid #222;
  box-shadow: none;
  font-size: 2em;
}

.fbc-imageselect-checkbox-3 {
    position: absolute;
    margin-top: 45px;
    margin-left: 235px;
    -webkit-transform: scale(6);
    -moz-transform: scale(6);
    -ms-transform: scale(6);
    -o-transform: scale(6);
    transform: scale(6);
    opacity: 0;
}

.fbc-imageselect-checkbox-3:checked {
    position: absolute;
    margin-top: 45px;
    margin-left: 235px;
    -webkit-transform: scale(6);
    -moz-transform: scale(6);
    -ms-transform: scale(6);
    -o-transform: scale(6);
    transform: scale(6);
    opacity: .8;
    -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance:none;
  outline: 8px solid #222;
  box-shadow: none;
  font-size: 2em;
}

.fbc-imageselect-checkbox-4 {
    position: absolute;
    margin-top: 90px;
    margin-left: 46px;
    -webkit-transform: scale(6);
    -moz-transform: scale(6);
    -ms-transform: scale(6);
    -o-transform: scale(6);
    transform: scale(6);
    opacity: 0;
}

.fbc-imageselect-checkbox-4:checked {
    position: absolute;
    margin-top: 140px;
    margin-left: 46px;
    -webkit-transform: scale(6);
    -moz-transform: scale(6);
    -ms-transform: scale(6);
    -o-transform: scale(6);
    transform: scale(6);
    opacity: .8;
    -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance:none;
  outline: 8px solid #222;
  box-shadow: none;
  font-size: 2em;
}

.fbc-imageselect-checkbox-5 {
    position: absolute;
    margin-top: 140px;
    margin-left: 140px;
    -webkit-transform: scale(6);
    -moz-transform: scale(6);
    -ms-transform: scale(6);
    -o-transform: scale(6);
    transform: scale(6);
    opacity: 0;
}

.fbc-imageselect-checkbox-5:checked {
    position: absolute;
    margin-top: 140px;
    margin-left: 140px;
    -webkit-transform: scale(6);
    -moz-transform: scale(6);
    -ms-transform: scale(6);
    -o-transform: scale(6);
    transform: scale(6);
    opacity: .8;
    -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance:none;
  outline: 8px solid #222;
  box-shadow: none;
  font-size: 2em;
}

.fbc-imageselect-checkbox-6 {
    position: absolute;
    margin-top: 140px;
    margin-left: 235px;
    -webkit-transform: scale(6);
    -moz-transform: scale(6);
    -ms-transform: scale(6);
    -o-transform: scale(6);
    transform: scale(6);
    opacity: 0;
}

.fbc-imageselect-checkbox-6:checked {
    position: absolute;
    margin-top: 140px;
    margin-left: 235px;
    -webkit-transform: scale(6);
    -moz-transform: scale(6);
    -ms-transform: scale(6);
    -o-transform: scale(6);
    transform: scale(6);
    opacity: .8;
    -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance:none;
  outline: 8px solid #222;
  box-shadow: none;
  font-size: 2em;
}

.fbc-imageselect-checkbox-7 {
    position: absolute;
    margin-top: 235px;
    margin-left: 46px;
    -webkit-transform: scale(6);
    -moz-transform: scale(6);
    -ms-transform: scale(6);
    -o-transform: scale(6);
    transform: scale(6);
    opacity: 0;
}

.fbc-imageselect-checkbox-7:checked {
    position: absolute;
    margin-top: 235px;
    margin-left: 46px;
    -webkit-transform: scale(6);
    -moz-transform: scale(6);
    -ms-transform: scale(6);
    -o-transform: scale(6);
    transform: scale(6);
    opacity: .8;
    -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance:none;
  outline: 8px solid #222;
  box-shadow: none;
  font-size: 2em;
}

.fbc-imageselect-checkbox-8 {
    position: absolute;
    margin-top: 235px;
    margin-left: 140px;
    -webkit-transform: scale(6);
    -moz-transform: scale(6);
    -ms-transform: scale(6);
    -o-transform: scale(6);
    transform: scale(6);
    opacity: 0;
}

.fbc-imageselect-checkbox-8:checked {
    position: absolute;
    margin-top: 235px;
    margin-left: 140px;
    -webkit-transform: scale(6);
    -moz-transform: scale(6);
    -ms-transform: scale(6);
    -o-transform: scale(6);
    transform: scale(6);
    opacity: .8;
    -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance:none;
  outline: 8px solid #222;
  box-shadow: none;
  font-size: 2em;
}

.fbc-imageselect-checkbox-9 {
    position: absolute;
    margin-top: 235px;
    margin-left: 235px;
    -webkit-transform: scale(6);
    -moz-transform: scale(6);
    -ms-transform: scale(6);
    -o-transform: scale(6);
    transform: scale(6);
    opacity: 0;
}

.fbc-imageselect-checkbox-9:checked {
    position: absolute;
    margin-top: 235px;
    margin-left: 235px;
    -webkit-transform: scale(6);
    -moz-transform: scale(6);
    -ms-transform: scale(6);
    -o-transform: scale(6);
    transform: scale(6);
    opacity: .8;
    -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance:none;
  outline: 8px solid #222;
  box-shadow: none;
  font-size: 2em;
}

.fbc-verification-token textarea {
    background: #222;
    border: 1px solid #3e3e3e;
    color: #fff;
    font-size: 10px;
    height: 100%;
    padding: 0;
    resize: none;
    width: 100%;
}

.fbc-message {
    font-family: Roboto,helvetica,arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 20px;
    width: 250px;
    margin-left: 25px;
    text-align: center;
}
